* {
    text-align: center;
}

#restrict {
    color: crimson;
}

button {
    background-color: black;
    color: white;
    height: 30px;
    width: 200px;
    font-size: large;
}

nav {
    display: flex;
    justify-content: space-evenly;
}