th {
    background-color: rgb(73, 255, 231);
    color: rgb(0, 0, 0);
}

table,
th,
td,
tr {
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    border-spacing: 5px;
    padding: 20px;
    border-collapse: collapse;
    font-size: 20px;
}

#cricket {
    background-color: orange;
}

#nav {
    display: flex;
    justify-content: space-evenly;
}

button {
    height: 30px;
    width: 200px;
    font-size: larger;
}

* {
    text-align: center;
}

#foot {
    background-color: orange;
}

#srank {
    background-color: orange;
}

#invincible {
    background-color: black;
    color: rgb(123, 255, 47);
    font-weight: 300px;
    height: 60px;
    width: 300px;
}

#bronze {
    background-color: #CD7F32;
    height: 60px;
}

#silver {
    background-color: rgb(145, 140, 140);
    height: 60px;
}

#gold {
    background-color: #FFD700;
    height: 60px;
}

#blue {
    background-color: aqua;
    height: 60px;
}

#crown {
    background-color: #bc48ff;
    height: 60px;
}

#green {
    background-color: rgb(27, 240, 20);
    height: 60px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

#divos {
    border: 5px solid black;
    border-radius: 30px;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    /* background-image: url(""); */
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}

.badminton {
    width: 100%;
    height: auto;
}

.pokemoncards {
    width: 100%;
    height: auto;
}

.beyblade {
    width: 100%;
    height: auto;
}

#tabletoppers {
    background-color: #ffbb01;
}